.pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
}

.page-list {
    margin: 0 auto;
    border-left: 1px solid #ddd;
}

.page-item {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #ddd;
    border-left-width: 0;
    color: #999;
    font-size: 14px;
    user-select: none;
}

.page-item-active {
    color: #80bd01;
}